/* .balao{
    background-color: cyan;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
}

.balao::after{
    content:'';
    display: block;
    position: absolute;
    margin-top: 20px;
    border: 10px solid;
    border-color: cyan transparent transparent cyan;
} */

/* 
body{
    background-image: url(IMG/brickback.jpg);
    background-size: cover;
    background-position: center;
} */

/* div{
    background-color: rgba(255, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
} */

/* div{
    background-color: red;
    height: 100px;
    width: 200px;
    margin: auto;
    transform: rotateZ(180deg)
} */

.input{
    width: 400px;
    height: 50px;
    font-size: 27px;
    color: green;
}

.input::placeholder{
    color: green;
}

.input::-webkit-input-placeholder{
    color: green;
}

.input:-moz-placeholder{
    color: green;
}

.input::-moz-placeholder{
    color: green;
}

.input:-ms-input-placeholder{
    color: green;
}