body {
    margin: 50px;
    font-size: 18px;;
}

img {
    width: 500px;
}

.link {
    color: indianred;
}

.link:hover {
    color: red;
}

.link:visited {
    color: seagreen;
}
