*{
    box-sizing: border-box;
}

body {
    margin: 50px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type=text], textarea, select{
    padding: 10px;
    margin-top: 5px;
    width: 500px;
    font-size: 15px;
    border: 1px solid #CCC;
    outline: 0;
}

textarea {
    height: 200px;
    resize: none;
}

.termos {
    color: #000;
    text-decoration: none;
}

.termos:hover{
    text-decoration: underline;
}

button{
    padding: 10px;
    font-size: 15px;
    border: 1px solid #CCC;
    background-color: #EEE;
}

button:hover{
    background-color: #DDD;
}